In [14]:
from sklearn.datasets import fetch_20newsgroups

newsgroups = fetch_20newsgroups()

In [15]:
import pandas as pd
df = pd.DataFrame({
    'text': newsgroups.data,
    'target': newsgroups.target
})

In [16]:
df

                                                    text  target
0      From: lerxst@wam.umd.edu (where's my thing)\nS...       7
1      From: guykuo@carson.u.washington.edu (Guy Kuo)...       4
2      From: twillis@ec.ecn.purdue.edu (Thomas E Will...       4
3      From: jgreen@amber (Joe Green)\nSubject: Re: W...       1
4      From: jcm@head-cfa.harvard.edu (Jonathan McDow...      14
...                                                  ...     ...
11309  From: jim.zisfein@factory.com (Jim Zisfein) \n...      13
11310  From: ebodin@pearl.tufts.edu\nSubject: Screen ...       4
11311  From: westes@netcom.com (Will Estes)\nSubject:...       3
11312  From: steve@hcrlgw (Steven Collins)\nSubject: ...       1
11313  From: gunning@cco.caltech.edu (Kevin J. Gunnin...       8

[11314 rows x 2 columns]

In [17]:
import re
import string

In [18]:
def html_remove(text):
    remove=re.compile('<.*?>')
    return re.sub(remove,'',text)
df['text']=df['text'].apply(html_remove)
df

                                                    text  target
0      From: lerxst@wam.umd.edu (where's my thing)\nS...       7
1      From: guykuo@carson.u.washington.edu (Guy Kuo)...       4
2      From: twillis@ec.ecn.purdue.edu (Thomas E Will...       4
3      From: jgreen@amber (Joe Green)\nSubject: Re: W...       1
4      From: jcm@head-cfa.harvard.edu (Jonathan McDow...      14
...                                                  ...     ...
11309  From: jim.zisfein@factory.com (Jim Zisfein) \n...      13
11310  From: ebodin@pearl.tufts.edu\nSubject: Screen ...       4
11311  From: westes@netcom.com (Will Estes)\nSubject:...       3
11312  From: steve@hcrlgw (Steven Collins)\nSubject: ...       1
11313  From: gunning@cco.caltech.edu (Kevin J. Gunnin...       8

[11314 rows x 2 columns]

In [19]:
def links_remove(text):
    remove=re.compile(r'http\S+|www.\S+|https\S+com\S+')
    return re.sub(remove,' ',text)
df['text']=df['text'].apply(links_remove)
df

                                                    text  target
0      From: lerxst@wam.umd.edu (where's my thing)\nS...       7
1      From: guykuo@carson.u.washington.edu (Guy Kuo)...       4
2      From: twillis@ec.ecn.purdue.edu (Thomas E Will...       4
3      From: jgreen@amber (Joe Green)\nSubject: Re: W...       1
4      From: jcm@head-cfa.harvard.edu (Jonathan McDow...      14
...                                                  ...     ...
11309  From: jim.zisfein@factory.com (Jim Zisfein) \n...      13
11310  From: ebodin@pearl.tufts.edu\nSubject: Screen ...       4
11311  From: westes@netcom.com (Will Estes)\nSubject:...       3
11312  From: steve@hcrlgw (Steven Collins)\nSubject: ...       1
11313  From: gunning@cco.caltech.edu (Kevin J. Gunnin...       8

[11314 rows x 2 columns]

In [20]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
def punctuation_remove(text):
    remove=re.compile(r'[!"#$%&\'()*+,-./:;<=>?@\\^_`{|}~]')
    return re.sub(remove,' ',text)

df['text']=df['text'].apply(punctuation_remove)
df

                                                    text  target
0      From  lerxst wam umd edu  where s my thing \nS...       7
1      From  guykuo carson u washington edu  Guy Kuo ...       4
2      From  twillis ec ecn purdue edu  Thomas E Will...       4
3      From  jgreen amber  Joe Green \nSubject  Re  W...       1
4      From  jcm head cfa harvard edu  Jonathan McDow...      14
...                                                  ...     ...
11309  From  jim zisfein factory com  Jim Zisfein  \n...      13
11310  From  ebodin pearl tufts edu\nSubject  Screen ...       4
11311  From  westes netcom com  Will Estes \nSubject ...       3
11312  From  steve hcrlgw  Steven Collins \nSubject  ...       1
11313  From  gunning cco caltech edu  Kevin J  Gunnin...       8

[11314 rows x 2 columns]

In [22]:
def lower_convert(text):
    return text.lower()

df['text']=df['text'].apply(lower_convert)
df

                                                    text  target
0      from  lerxst wam umd edu  where s my thing \ns...       7
1      from  guykuo carson u washington edu  guy kuo ...       4
2      from  twillis ec ecn purdue edu  thomas e will...       4
3      from  jgreen amber  joe green \nsubject  re  w...       1
4      from  jcm head cfa harvard edu  jonathan mcdow...      14
...                                                  ...     ...
11309  from  jim zisfein factory com  jim zisfein  \n...      13
11310  from  ebodin pearl tufts edu\nsubject  screen ...       4
11311  from  westes netcom com  will estes \nsubject ...       3
11312  from  steve hcrlgw  steven collins \nsubject  ...       1
11313  from  gunning cco caltech edu  kevin j  gunnin...       8

[11314 rows x 2 columns]

In [23]:
def links_remove(text):
    remove=re.compile(r'http\S+|www.\S+|https\S+com\S+')
    return re.sub(remove,' ',text)
df['text']=df['text'].apply(links_remove)
df

                                                    text  target
0      from  lerxst wam umd edu  where s my thing \ns...       7
1      from  guykuo carson u washington edu  guy kuo ...       4
2      from  twillis ec ecn purdue edu  thomas e will...       4
3      from  jgreen amber  joe green \nsubject  re  w...       1
4      from  jcm head cfa harvard edu  jonathan mcdow...      14
...                                                  ...     ...
11309  from  jim zisfein factory com  jim zisfein  \n...      13
11310  from  ebodin pearl tufts edu\nsubject  screen ...       4
11311  from  westes netcom com  will estes \nsubject ...       3
11312  from  steve hcrlgw  steven collins \nsubject  ...       1
11313  from  gunning cco caltech edu  kevin j  gunnin...       8

[11314 rows x 2 columns]

In [24]:
def whitespaces(text):
    remove=re.compile(r'[\n\s\t]')
    return re.sub(remove,' ',text)
df['text']=df['text'].apply(whitespaces)
df

                                                    text  target
0      from  lerxst wam umd edu  where s my thing  su...       7
1      from  guykuo carson u washington edu  guy kuo ...       4
2      from  twillis ec ecn purdue edu  thomas e will...       4
3      from  jgreen amber  joe green  subject  re  we...       1
4      from  jcm head cfa harvard edu  jonathan mcdow...      14
...                                                  ...     ...
11309  from  jim zisfein factory com  jim zisfein   s...      13
11310  from  ebodin pearl tufts edu subject  screen d...       4
11311  from  westes netcom com  will estes  subject  ...       3
11312  from  steve hcrlgw  steven collins  subject  r...       1
11313  from  gunning cco caltech edu  kevin j  gunnin...       8

[11314 rows x 2 columns]

In [25]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
from textblob import TextBlob

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [26]:
stopwords_set=set(stopwords.words('english'))

def stopword(text):
    return ' '.join([word for word in text.split() if word.lower() not in stopwords_set])

df['text']=df['text'].apply(stopword)
df

                                                    text  target
0      lerxst wam umd edu thing subject car nntp post...       7
1      guykuo carson u washington edu guy kuo subject...       4
2      twillis ec ecn purdue edu thomas e willis subj...       4
3      jgreen amber joe green subject weitek p9000 or...       1
4      jcm head cfa harvard edu jonathan mcdowell sub...      14
...                                                  ...     ...
11309  jim zisfein factory com jim zisfein subject mi...      13
11310  ebodin pearl tufts edu subject screen death ma...       4
11311  westes netcom com estes subject mounting cpu c...       3
11312  steve hcrlgw steven collins subject sphere 4 p...       1
11313  gunning cco caltech edu kevin j gunning subjec...       8

[11314 rows x 2 columns]

In [27]:
from nltk.stem import PorterStemmer

stemmer=PorterStemmer()

def stem(text):
    return stemmer.stem(text)

df['text']=df['text'].apply(stem)
df

                                                    text  target
0      lerxst wam umd edu thing subject car nntp post...       7
1      guykuo carson u washington edu guy kuo subject...       4
2      twillis ec ecn purdue edu thomas e willis subj...       4
3      jgreen amber joe green subject weitek p9000 or...       1
4      jcm head cfa harvard edu jonathan mcdowell sub...      14
...                                                  ...     ...
11309  jim zisfein factory com jim zisfein subject mi...      13
11310  ebodin pearl tufts edu subject screen death ma...       4
11311  westes netcom com estes subject mounting cpu c...       3
11312  steve hcrlgw steven collins subject sphere 4 p...       1
11313  gunning cco caltech edu kevin j gunning subjec...       8

[11314 rows x 2 columns]

In [28]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [29]:
from nltk.stem import WordNetLemmatizer


lem=WordNetLemmatizer()

def wordlem(text):
    return lem.lemmatize(text)

df['text']=df['text'].apply(wordlem)
df

                                                    text  target
0      lerxst wam umd edu thing subject car nntp post...       7
1      guykuo carson u washington edu guy kuo subject...       4
2      twillis ec ecn purdue edu thomas e willis subj...       4
3      jgreen amber joe green subject weitek p9000 or...       1
4      jcm head cfa harvard edu jonathan mcdowell sub...      14
...                                                  ...     ...
11309  jim zisfein factory com jim zisfein subject mi...      13
11310  ebodin pearl tufts edu subject screen death ma...       4
11311  westes netcom com estes subject mounting cpu c...       3
11312  steve hcrlgw steven collins subject sphere 4 p...       1
11313  gunning cco caltech edu kevin j gunning subjec...       8

[11314 rows x 2 columns]

In [30]:


def remove_num(text):
    remove=re.compile(r'\d+')
    return re.sub(remove,' ',text)
df['text']=df['text'].apply(remove_num)
df

                                                    text  target
0      lerxst wam umd edu thing subject car nntp post...       7
1      guykuo carson u washington edu guy kuo subject...       4
2      twillis ec ecn purdue edu thomas e willis subj...       4
3      jgreen amber joe green subject weitek p  organ...       1
4      jcm head cfa harvard edu jonathan mcdowell sub...      14
...                                                  ...     ...
11309  jim zisfein factory com jim zisfein subject mi...      13
11310  ebodin pearl tufts edu subject screen death ma...       4
11311  westes netcom com estes subject mounting cpu c...       3
11312  steve hcrlgw steven collins subject sphere   p...       1
11313  gunning cco caltech edu kevin j gunning subjec...       8

[11314 rows x 2 columns]

In [31]:
from nltk.stem import PorterStemmer

stemmer=PorterStemmer()

def stem(text):
    return stemmer.stem(text)

df['text']=df['text'].apply(stem)
df

                                                    text  target
0      lerxst wam umd edu thing subject car nntp post...       7
1      guykuo carson u washington edu guy kuo subject...       4
2      twillis ec ecn purdue edu thomas e willis subj...       4
3      jgreen amber joe green subject weitek p  organ...       1
4      jcm head cfa harvard edu jonathan mcdowell sub...      14
...                                                  ...     ...
11309  jim zisfein factory com jim zisfein subject mi...      13
11310  ebodin pearl tufts edu subject screen death ma...       4
11311  westes netcom com estes subject mounting cpu c...       3
11312  steve hcrlgw steven collins subject sphere   p...       1
11313  gunning cco caltech edu kevin j gunning subjec...       8

[11314 rows x 2 columns]

In [32]:
import nltk
nltk.download('punkt')  # For tokenization
nltk.download('wordnet')  # For WordNet corpus

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [33]:

def token(text):
    return nltk.word_tokenize(text)

df['text']=df['text'].apply(token)
df